<%-
@title = "Music Archive DB"

%>


<div class="container">
  <div class="hero-unit">
      <div class="row-fluid">
          <div class="offset4 span4">
<div class="row">
      <img class='img thumbnail center-block' src="/images/willhill.png" alt="..." height='200px' width="200px" /></p>
</div>
          </div>
      </div>
  </div>
</div>

